.header-banner{
    background: rgba(6, 87, 6, 0.434);
    color: white;
}

.buy-now-button{
     background: crimson;
     color: white;
     border: none;
     height: 35px;
     
}

.catagori-1{
    background: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);

    color:white;

}

.catagori-2{
    background: linear-gradient(152.07deg, #FF9C35 1.47%, #FFD019 97.17%);

    color:white;

}

.catagori-3{
    background: linear-gradient(170.41deg, #3F07F8 -10.89%, #000b01 92.77%);
     font-weight: 900;

    color:white;

}

.catagori-4{
    background: linear-gradient(180deg, #b90e25 -0.01%, #ee7a80 99.99%);
    
      font-weight: 900;

    color:#ffffff;

}
.catagori-5{
    background: linear-gradient(180deg, #ade5f8 -0.01%, #6cc7eb 99.99%);
    
      font-weight: 900;

    color:rgb(255, 255, 255);

}

.catagori-6{
    background: linear-gradient(180deg, #e8eb4c -0.01%, #e6661c 99.99%);
    
      font-weight: 900;

    color:rgb(255, 255, 255);

}
.cow{
    display: grid;
    grid-template-columns: repeat(4,25%);
}

.cow-item{
    margin: 5px;
    padding: 5px;
    text-align: center;
}


.cow-header{
    text-align: center;
   color: rgb(255, 255, 255);
   padding-bottom: 20px;
   padding-top: 10px;
}


.goat{
    display: grid;
    grid-template-columns: repeat(4,25%);
}

.goat-item{
    margin: 5px;
    padding: 5px;
    text-align: center;
}


.goat-header{
    text-align: center;
   color: goldenrod;
   padding-bottom: 20px;
   padding-top: 10px;
}

.cow-img:hover>img{
    
    transform: scale(1.20);
    transition: .8s ease-in-out;

}

.cow-img>img{
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}









@media only screen and (max-width: 600px){

    .cow{
        
        display: grid;
        grid-template-columns: repeat(1,100%);
    }

    
.cow-item{
    margin-right: 10px;
    padding: 5px;
    text-align: center;
}
.goat{
    display: grid;
    grid-template-columns: repeat(1,100%);
}

.goat-item{
    margin: 5px;
    padding: 5px;
    text-align: center;
}




}

@media only screen and (max-width: 868px)and (min-width:601px ) {

    .cow{
        
        display: grid;
        grid-template-columns: repeat(2,50%);
    }

    
.cow-item{
    margin-right: 10px;
    padding: 5px;
    text-align: center;
}
.goat{
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.goat-item{
    margin: 5px;
    padding: 5px;
    text-align: center;
}





}


@media only screen and (max-width: 1370px)and (min-width:869px ) {

    .cow{
        
        display: grid;
        grid-template-columns: repeat(3,33%);
    }

    
.cow-item{
    margin-right: 10px;
    padding: 5px;
    text-align: center;
}

.goat{
    display: grid;
    grid-template-columns: repeat(3,33%);
}

.goat-item{
    margin: 5px;
    padding: 5px;
    text-align: center;
}

}